APP_VERSION=0.1.0
APP_NAME=Currency Rate Service

POSTGRES_DB=currency_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/currency_db

SECRET_KEY=change-me-in-production-supersecretkey
ACCESS_TOKEN_EXPIRE_MINUTES=120
REFRESH_TOKEN_EXPIRE_DAYS=1
